.Top {
    display: flex;
    position: fixed;
    top: 0;
    left: 50%;
    width: 90%;
    z-index: 999;
    transform: translateX(-50%);
    background-color: wheat;
    height: 6vh;
    border-radius: 0 0 20px 20px;
    justify-content: space-around;
}
.innerText{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.Text {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: all 0.3s ease;
    text-decoration: none;
    color: #000;
}
.Text:hover {
    background-color: #f0f0f0;
    border-color: #333;
}







