.App {
  text-align: center;
}

body{
  background-color: blanchedalmond;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Page{
  position: relative;
  display: flex;
  top: 6vh;
  left: 50%;
  width: 90%;
  transform: translateX(-50%);
}
.App-link {
  color: #61dafb;
}


